<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Pandas:-cargando-archivos-de-datos" data-toc-modified-id="Pandas:-cargando-archivos-de-datos-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Pandas: cargando archivos de datos</a></span><ul class="toc-item"><li><span><a href="#pd.read_csv" data-toc-modified-id="pd.read_csv-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>pd.read_csv</a></span></li><li><span><a href="#pd.read_excel" data-toc-modified-id="pd.read_excel-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>pd.read_excel</a></span></li></ul></li><li><span><a href="#Pandas,-guardando-datos" data-toc-modified-id="Pandas,-guardando-datos-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Pandas, guardando datos</a></span><ul class="toc-item"><li><span><a href="#Guardar-en-formato-csv" data-toc-modified-id="Guardar-en-formato-csv-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Guardar en formato csv</a></span></li><li><span><a href="#DataFrame.to_csv" data-toc-modified-id="DataFrame.to_csv-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>DataFrame.to_csv</a></span></li><li><span><a href="#Guardar-en-formato-Excel" data-toc-modified-id="Guardar-en-formato-Excel-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Guardar en formato Excel</a></span></li><li><span><a href="#DataFrame.to_excel" data-toc-modified-id="DataFrame.to_excel-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>DataFrame.to_excel</a></span></li></ul></li><li><span><a href="#Nombres-de-las-columnas:---.columns" data-toc-modified-id="Nombres-de-las-columnas:---.columns-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Nombres de las columnas:   .columns</a></span></li><li><span><a href="#INSPECCION-DEL-DATAFRAME" data-toc-modified-id="INSPECCION-DEL-DATAFRAME-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>INSPECCION DEL DATAFRAME</a></span><ul class="toc-item"><li><span><a href="#Tipos-de-Datos" data-toc-modified-id="Tipos-de-Datos-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Tipos de Datos</a></span></li></ul></li><li><span><a href="#ACCESO-A-COLUMNAS" data-toc-modified-id="ACCESO-A-COLUMNAS-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>ACCESO A COLUMNAS</a></span><ul class="toc-item"><li><span><a href="#Por-nombre-con-[--]" data-toc-modified-id="Por-nombre-con-[--]-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Por nombre con [  ]</a></span></li><li><span><a href="#Por-nombre-con-punto-(como-atributo)" data-toc-modified-id="Por-nombre-con-punto-(como-atributo)-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Por nombre con punto (como atributo)</a></span></li><li><span><a href="#Por-posición---.iloc" data-toc-modified-id="Por-posición---.iloc-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Por posición   .iloc</a></span></li><li><span><a href="#Por-nombre-con-.loc" data-toc-modified-id="Por-nombre-con-.loc-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Por nombre con .loc</a></span></li></ul></li><li><span><a href="#ACCESO-A-FILAS" data-toc-modified-id="ACCESO-A-FILAS-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>ACCESO A FILAS</a></span></li><li><span><a href="#EJERCICIO" data-toc-modified-id="EJERCICIO-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>EJERCICIO</a></span></li><li><span><a href="#Crear-un-Índice-para-las-filas" data-toc-modified-id="Crear-un-Índice-para-las-filas-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Crear un Índice para las filas</a></span><ul class="toc-item"><li><span><a href="#.unique" data-toc-modified-id=".unique-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>.unique</a></span></li><li><span><a href="#Ejercicio" data-toc-modified-id="Ejercicio-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span>Ejercicio</a></span></li><li><span><a href="#EJERCICIO" data-toc-modified-id="EJERCICIO-8.3"><span class="toc-item-num">8.3&nbsp;&nbsp;</span>EJERCICIO</a></span></li><li><span><a href="#EJERCICIO" data-toc-modified-id="EJERCICIO-8.4"><span class="toc-item-num">8.4&nbsp;&nbsp;</span>EJERCICIO</a></span></li></ul></li></ul></div>

# COMPUTACIÓN CIENTÍFICA
# Situación Profesional 2
# CLASE 2: Pandas
**Prof. Ricardo Piña - Erica Bongiovanni**

In [3]:
import pandas as pd
import numpy as np

## Pandas: cargando archivos de datos

La mayoría de las veces deberemos acceder a datos que fueron obtenidos de alguna otra fuente, como habíamos comentado, Pandas capaz de leer y guardar datos en diversos formatos como: 
    - csv, archivos de texto, 
    - archivos de Excel
    - bases de datos SQL
    - HTML
    - XML
    - JSON
    - HDF5 (formato jerárquico de datos; muy veloz)

### pd.read_csv

El formato más utilizado para intercambiar archivos de dayos es el csv (Datos Separados por comas).  
En este formato lo habitual es que el **separador** de registros sea la __coma ,__ pero a veces se utilizan otros como el punto y coma ; **(típico cuando guardamos en formato csv desde Excel en español** o el **Tabulador** que se suele simbolizar como **\t**.  

Puede ver toda la documentación en https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

Vamos a probar con un archivo de datos que tiene ciertas "incomodidades".  
Tratemos de cargar el archivo iris.tab que tenemos en la carpeta data:

In [26]:
# \t es la expresion de tabulador 
df_Iris= pd.read_csv("datos/iris.tab", sep="\t")
df_Iris

    sepal length sepal width petal length petal width            iris
0              c           c            c           c               d
1            NaN         NaN          NaN         NaN           class
2            5.1         3.5          1.4         0.2     Iris-setosa
3            4.9         3.0          1.4         0.2     Iris-setosa
4            4.7         3.2          1.3         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
147          6.7         3.0          5.2         2.3  Iris-virginica
148          6.3         2.5          5.0         1.9  Iris-virginica
149          6.5         3.0          5.2         2.0  Iris-virginica
150          6.2         3.4          5.4         2.3  Iris-virginica
151          5.9         3.0          5.1         1.8  Iris-virginica

[152 rows x 5 columns]

In [27]:
df_credito0=pd.read_csv("datos/credito.tab")
df_credito0

   \tTiene_Deuda\tGenero\tTrabaja\tPropietario\tDar_Credito
0                                0\tSi\tF\tNo\tSi\tNo
1                                1\tSi\tM\tNo\tSi\tNo
2                                2\tNo\tF\tSi\tSi\tSi
3                                3\tNo\tF\tSi\tNo\tSi
4                                4\tNo\tF\tNo\tNo\tNo
5                                5\tNo\tM\tSi\tNo\tNo
6                                6\tNo\tM\tNo\tSi\tNo
7                                7\tNo\tM\tNo\tNo\tNo
8                                8\tSi\tF\tNo\tNo\tNo
9                                9\tSi\tM\tSi\tNo\tNo
10                              10\tSi\tM\tNo\tNo\tNo
11                              11\tNo\tF\tNo\tSi\tNo
12                              12\tNo\tM\tSi\tSi\tSi

In [28]:
df_empleados= pd.read_csv("datos/C1-Empleados.csv", sep=";")
df_empleados

    Legajo   Apellido    Nombre  Categoría  Antigüedad  Básico
0     1236     García   Claudia          1           2   12000
1     1247     Moyano    Javier          2           5   16800
2     1250      Pérez      Raul          3           6   21600
3     1258     García     Pablo          5           7   31200
4     1269   Martínez  Carolina          6           8   36000
5     1280      López    Franco          8           9   45600
6     1291     Romero   Esteban          7           5   40800
7     1302      Gómez  Federico          9           4   50400
8     1313      López    Mirtha          5           2   31200
9     1324     Cabral    Mónica          4           3   26400
10    1335      Arias   Daniela          2           1   16800
11    1346      Pérez     Laura          6           4   36000
12    1357       Ruiz  Josefina          2           5   16800
13    1368    Lacasio  Giorgina          3           2   21600
14    1379     Barilá   Martina          4           6   26400
15    1390     Romero    Emilio          5           7   31200
16    1401   Yadarola    Adrián          6           5   36000
17    1412  Cornavaca   Esteban          4           8   26400
18    1423     Moreno    Romina          5           4   31200
19    1434      Limia  Josefina          2           2   16800
20    1445      Pérez     Sofia          3           1   21600
21    1456     Vargas     Carla          6           5   36000
22    1467  Rodriguez   Mariana          5           2   31200
23    1478  Fernandez    Roxana          4           4   26400
24    1489    Pereyra    Sabina          5           2   31200
25    1500    Rosales   Silvina          6           5   36000
26    1511    Pedraza   Rodrigo          2           4   16800
27    1522       Roca     David          3           5   21600
28    1533    Medrano      Ivan          5           7   31200
29    1544      Reyes      Raul          4           4   26400
30    1555     Lozano   Ricardo          5           8   31200
31    1566       Zaya   Estaban          6           5   36000
32    1577    Victori    Walter          5           2   31200
33    1588     Romero    Sergio          4           4   26400
34    1599    Peralta   Gustavo          5           5   31200
35    1610   Villagra   Gabriel          6           7   36000
36    1621  Villafañe   Mariano          5           8   31200
37    1632  Visintini     Jorge          5           9   31200

Para ver sólo los primeros 5 registros usaremos **.head()**. También podemos ver los últimos con **.tail()**. Si desea ver otra cantidad de registros puede usar **.head(cantidad_filas)**.

al usar **.head()** veremos las primeras columnas, si colocamos un numero entre el parentesis nos devolverá esa cantidad de filas del inicio al final.

In [5]:
df_Iris.head()

  sepal length sepal width petal length petal width         iris
0            c           c            c           c            d
1          NaN         NaN          NaN         NaN        class
2          5.1         3.5          1.4         0.2  Iris-setosa
3          4.9         3.0          1.4         0.2  Iris-setosa
4          4.7         3.2          1.3         0.2  Iris-setosa

In [6]:
df_credito0.head(3)

  \tTiene_Deuda\tGenero\tTrabaja\tPropietario\tDar_Credito
0                               0\tSi\tF\tNo\tSi\tNo
1                               1\tSi\tM\tNo\tSi\tNo
2                               2\tNo\tF\tSi\tSi\tSi

In [7]:
df_empleados.head(10)

   Legajo  Apellido    Nombre  Categoría  Antigüedad  Básico
0    1236    García   Claudia          1           2   12000
1    1247    Moyano    Javier          2           5   16800
2    1250     Pérez      Raul          3           6   21600
3    1258    García     Pablo          5           7   31200
4    1269  Martínez  Carolina          6           8   36000
5    1280     López    Franco          8           9   45600
6    1291    Romero   Esteban          7           5   40800
7    1302     Gómez  Federico          9           4   50400
8    1313     López    Mirtha          5           2   31200
9    1324    Cabral    Mónica          4           3   26400

In [8]:
df_Iris.tail()

    sepal length sepal width petal length petal width            iris
147          6.7         3.0          5.2         2.3  Iris-virginica
148          6.3         2.5          5.0         1.9  Iris-virginica
149          6.5         3.0          5.2         2.0  Iris-virginica
150          6.2         3.4          5.4         2.3  Iris-virginica
151          5.9         3.0          5.1         1.8  Iris-virginica

In [9]:
df_credito0.tail()

   \tTiene_Deuda\tGenero\tTrabaja\tPropietario\tDar_Credito
8                                8\tSi\tF\tNo\tNo\tNo
9                                9\tSi\tM\tSi\tNo\tNo
10                              10\tSi\tM\tNo\tNo\tNo
11                              11\tNo\tF\tNo\tSi\tNo
12                              12\tNo\tM\tSi\tSi\tSi

In [10]:
df_empleados.tail()

    Legajo   Apellido   Nombre  Categoría  Antigüedad  Básico
33    1588     Romero   Sergio          4           4   26400
34    1599    Peralta  Gustavo          5           5   31200
35    1610   Villagra  Gabriel          6           7   36000
36    1621  Villafañe  Mariano          5           8   31200
37    1632  Visintini    Jorge          5           9   31200

Parece que se ha confundido un poco.   
Veamos: 

- obviamente la primer fila de los datos tiene los **encabezados** o nombres de los campos, lo cual nos resultará de utilidad. En los casos en que éstos no están, es habitual acompañar el archivo de datos con otro archivo que hace las veces de diccionario donde se explica qué es cada columna.  
- hay dos filas que no son datos 
- los datos mismos parecen bastante confusos, como que no ha tomado bien al separador.

Veamos qué pasa si le indicamos que el separador es el tabulador:

In [29]:
df_Iris= pd.read_csv("datos/iris.tab", sep="\t")
df_Iris

    sepal length sepal width petal length petal width            iris
0              c           c            c           c               d
1            NaN         NaN          NaN         NaN           class
2            5.1         3.5          1.4         0.2     Iris-setosa
3            4.9         3.0          1.4         0.2     Iris-setosa
4            4.7         3.2          1.3         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
147          6.7         3.0          5.2         2.3  Iris-virginica
148          6.3         2.5          5.0         1.9  Iris-virginica
149          6.5         3.0          5.2         2.0  Iris-virginica
150          6.2         3.4          5.4         2.3  Iris-virginica
151          5.9         3.0          5.1         1.8  Iris-virginica

[152 rows x 5 columns]

Mejoró bastante,  

- ahora los encabezados parece que fueron bien identificados
- los datos se ven bien separados. 
- las filas con índice 1 y 2 obviamente no corresponden a datos y deberíamos **saltearlas**.

In [30]:
df_Iris= pd.read_csv("datos/iris.tab", sep="\t", skiprows= (1,2))
df_Iris.head()

   sepal length  sepal width  petal length  petal width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Ahora sí se ve bien.  
Si bien en este caso no sería necesario, también podemos indicarle en qué fila están los encabezados, fíjese en las opciones dadas en el vínculo.  
Las opciones anteriores son las más habituales.

### pd.read_excel

Otro formato muy utilizado es el de las planillas de cálculo Excel, Pandas también es capaz de leer y guardar datos en este formato, encontrará todas las referencias en : 
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

Veamos ahora un ejemplo:

In [31]:
df_iris_excel= pd.read_excel("datos/iris.xlsx")
df_iris_excel

,Unnamed: 0,sepal length,sepal width,petal length,petal width,iris
0,0,5.1,3.5,1.4,0.2,Iris-setosa
1,1,4.9,3.0,1.4,0.2,Iris-setosa
2,2,4.7,3.2,1.3,0.2,Iris-setosa
3,3,4.6,3.1,1.5,0.2,Iris-setosa
4,4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,145,6.7,3.0,5.2,2.3,Iris-virginica
146,146,6.3,2.5,5.0,1.9,Iris-virginica
147,147,6.5,3.0,5.2,2.0,Iris-virginica
148,148,6.2,3.4,5.4,2.3,Iris-virginica
149,149,5.9,3.0,5.1,1.8,Iris-virginica

Veamos las primeras 3 filas

In [14]:
# Escriba aquí su código
df_iris_excel.head(3)

,Unnamed: 0,sepal length,sepal width,petal length,petal width,iris
0,0,5.1,3.5,1.4,0.2,Iris-setosa
1,1,4.9,3.0,1.4,0.2,Iris-setosa
2,2,4.7,3.2,1.3,0.2,Iris-setosa

Veamos las últimas 4 filas

In [15]:
# Escriba aquí su código
df_iris_excel.tail(4)

,Unnamed: 0,sepal length,sepal width,petal length,petal width,iris
146,146,6.3,2.5,5.0,1.9,Iris-virginica
147,147,6.5,3.0,5.2,2.0,Iris-virginica
148,148,6.2,3.4,5.4,2.3,Iris-virginica
149,149,5.9,3.0,5.1,1.8,Iris-virginica

## Pandas, guardando datos

También es posible guardar los datos en los formatos estándard antes mencionados

### Guardar en formato csv

### DataFrame.to_csv

Documentación en https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html

Supongamos que queremos guardar el dataFrame df_credito en formato csv. El separador más habitual es la coma, que es el valor que tomará por defecto, pero supongamos que deseamos que sea separado por tabulación:

In [41]:
df_Iris.to_csv("datos/Iris.tab", sep="\t")

In [42]:
df_Iris.to_csv("datos/Iris.csv", sep=";")

In [45]:
df_Iris.to_csv("datos/Iris.xlxs", sep=",")

In [39]:
df_Iris.to_csv("datos/Iris.tab", sep="@")

### Guardar en formato Excel

### DataFrame.to_excel
Documentación en: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_excel.html

Lea la documentación anterior y guarde el dataframe df_iris en formato de excel en la carperta data con el nombre iris.xlsx y en la Hoja de Excel llamada datos:

In [47]:
df_Iris.to_excel("datos/Iris.xls", sheet_name="datos")

Luego revise abriendo el archivo con Excel.  
Observe que como guardamos todo el DataFrame, se guardó también la columna índice como primero columna.

## Nombres de las columnas:   .columns

Podemos acceder a los nombres de las columnas muf fácilmente:

In [16]:
df_Iris.columns

Index(['sepal length', 'sepal width', 'petal length', 'petal width', 'iris'], dtype='object')

In [17]:
df_empleados.columns

Index(['Legajo', 'Apellido', 'Nombre', 'Categoría', 'Antigüedad', 'Básico'], dtype='object')

Como bien saben quienes programan habitualmente, no es conveniente que los nombres de los campos o columnas incluyan espacios, siempre traen problemas, así que los vamos a sustituir por nombres sin espacios.

In [34]:
df_Iris.columns=["sepal_length","sepal_width", "petal_length", "petal_width","iris"]
df_Iris.head()

   sepal_length  sepal_width  petal_length  petal_width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

También podríamos cambiar el nombre de una sola o algunas de las columnas

Observe que para el cambio realmente se produzca en el df_iris, tuvimos que asignarle el resultado de rename.

## INSPECCION DEL DATAFRAME

Generalmente luego de cargar un DataFrame queremos ver cierta información referida a él. Podemos obtener un buen vistazo usando:  

.info()  
.describe()

In [18]:
df_empleados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Legajo      38 non-null     int64
 1   Apellido    38 non-null     object
 2   Nombre      38 non-null     object
 3   Categoría   38 non-null     int64
 4   Antigüedad  38 non-null     int64
 5   Básico      38 non-null     int64
dtypes: int64(4), object(2)
memory usage: 1.9+ KB

In [19]:
df_empleados.describe()

            Legajo  Categoría  Antigüedad        Básico
count    38.000000  38.000000   38.000000     38.000000
mean   1429.157895   4.552632    4.789474  29052.631579
std     121.181465   1.735128    2.267966   8328.613552
min    1236.000000   1.000000    1.000000  12000.000000
25%    1326.750000   3.250000    3.250000  22800.000000
50%    1428.500000   5.000000    5.000000  31200.000000
75%    1530.250000   5.750000    6.750000  34800.000000
max    1632.000000   9.000000    9.000000  50400.000000

### Tipos de Datos

Conocer los tipos de datos que conforman cada columna suele ser de gran utilidad, lamentablemente los tipos de datos de Pandas no son exactamente los mismos que en Python:  

|   Pandas   |  Python  |                    Descripción                   |
|:----------:|:--------:|:------------------------------------------------:|
| object     | string   | El tipo de datos más común. Cadena de caracteres |
| int64      | int      | Números enteros                                  |
| float64    | float    | Números decimales                                |
| datetime64 | datetime | Fecha y Hora                                     |

Le podemos pedir a Pandas que nos **describa** el DataFrame.

In [35]:
# Escriba aquí su código
df_Iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

En este caso nos devuelve un buen resumen de información de **estadística descriptiva** sobre los valores contenidos en cada una de las columnas.  

**Nota** Por defecto sólo devuelve esfa información para las columnas cuyos valores son numéricos, si deseamos información sobre columnas tipo objetct devemos utilizar  

**.describe(include=all)**

También podemos usar .info()

In [38]:
df_Iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   iris          150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

## ACCESO A COLUMNAS

En Pandas existen diversas maneras de acceder a las columnas:

- por nombre

- por posición

### Por nombre con [  ]

Recordemos las columnas de df_iris

In [21]:
df_Iris.columns

Index(['sepal length', 'sepal width', 'petal length', 'petal width', 'iris'], dtype='object')

Supongamos que necesitamos acceder sólo a la columna 'sepal_width'.  

Veamos las primeras 5 filas de esta columna

In [25]:
df_Iris[["sepal length"]].head()

   sepal length
0           5.1
1           4.9
2           4.7
3           4.6
4           5.0

Supongamos que necesitamos acceder a la columna 'sepal_width' y a la columna iris:

In [26]:
df_Iris[["sepal length","iris"]].head()

   sepal length         iris
0           5.1  Iris-setosa
1           4.9  Iris-setosa
2           4.7  Iris-setosa
3           4.6  Iris-setosa
4           5.0  Iris-setosa

### Por nombre con punto (como atributo)

También es posible acceder a la fila sepal_width de la siguiente manera:

In [41]:
df_Iris.sepal_width[:]

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal_width, Length: 150, dtype: float64

### Por posición   .iloc

Para acceder a las filas por su ubicación nos debemos valer del índice que tienen las columnas (recuerde que Python indexa desde 0).  

Esta forma de acceder es muy parecida a la de Numpy con  

**.iloc[núm fila,núm columna]**,   

excepto que debe ir precedida de **.iloc**.

Para ver la primer columna indicando su índice:

In [76]:
df_Iris.iloc[1,1]

nan

In [78]:
# con los : digo que quiero que me muestre todas las filas de la columna 1
df_empleados.iloc[:,1]

0        García
1        Moyano
2         Pérez
3        García
4      Martínez
5         López
6        Romero
7         Gómez
8         López
9        Cabral
10        Arias
11        Pérez
12         Ruiz
13      Lacasio
14       Barilá
15       Romero
16     Yadarola
17    Cornavaca
18       Moreno
19        Limia
20        Pérez
21       Vargas
22    Rodriguez
23    Fernandez
24      Pereyra
25      Rosales
26      Pedraza
27         Roca
28      Medrano
29        Reyes
30       Lozano
31         Zaya
32      Victori
33       Romero
34      Peralta
35     Villagra
36    Villafañe
37    Visintini
Name: Apellido, dtype: object

Muestre últimos elementos de la columna de índice 3

In [94]:
# Escriba aquí su código
df_Iris.iloc[:,[3]].tail(3)

    petal width
149         2.0
150         2.3
151         1.8

In [53]:
df_empleados.iloc[:,[3]].tail(3)

    Categoría
35          6
36          5
37          5

Muestre las primeras filas de las 3 primeras columnas:

In [105]:
df_empleados.iloc[:,[0,1,2]].head()

   Legajo  Apellido    Nombre
0    1236    García   Claudia
1    1247    Moyano    Javier
2    1250     Pérez      Raul
3    1258    García     Pablo
4    1269  Martínez  Carolina

In [45]:
df_empleados.iloc[:,[1,2]].head()

   Apellido    Nombre
0    García   Claudia
1    Moyano    Javier
2     Pérez      Raul
3    García     Pablo
4  Martínez  Carolina

In [106]:
df_Iris.iloc[:,[0,1,2]].head()

  sepal length sepal width petal length
0            c           c            c
1          NaN         NaN          NaN
2          5.1         3.5          1.4
3          4.9         3.0          1.4
4          4.7         3.2          1.3

Muestre todas las columnas de índice par.  


Primero hagamos una prueba sencilla:

Como sabemos que las columnas de índice para son la 0, 2 y 4, podríamos hacer:

In [50]:
df_Iris.iloc[:,[0,2,4]].head()

     sepal_length  petal_length            iris
145           6.7           5.2  Iris-virginica
146           6.3           5.0  Iris-virginica
147           6.5           5.2  Iris-virginica
148           6.2           5.4  Iris-virginica
149           5.9           5.1  Iris-virginica

Donde vemos las columnas solicitadas.  

Pero queremos que Ud lo haga de manera que se adapte a *cualquier* DataFrame, sin importar cuántas columnas tuviera ... (puede crear un rango para las columnas pares como hicimos en las primeras clases ... si necesita saber cúantas columnas tiene si DataFrame ... puede probar con shape ...)

In [68]:
x=df_Iris.shape
x

(150, 5)

In [73]:
# Escriba aquí su código
x=df_Iris.shape
pares=np.arange(0,5,2)
df_Iris.iloc[:,pares].head()

   sepal_length  petal_length         iris
0           5.1           1.4  Iris-setosa
1           4.9           1.4  Iris-setosa
2           4.7           1.3  Iris-setosa
3           4.6           1.5  Iris-setosa
4           5.0           1.4  Iris-setosa

### Por nombre con .loc

Accedamos a la columna sepal_length

In [78]:
df_Iris.loc[:,["sepal_length"]].head()

   sepal_length
0           5.1
1           4.9
2           4.7
3           4.6
4           5.0

Algo muy interesante que tiene esta nomenclatura es que nos permite utilizar rangos ... pero con los nombres.

Qué piensa que hará:  

df_iris.loc[:,'sepal_length':'petal_length']

In [79]:
df_Iris.loc[:,'sepal_length':'petal_length']

     sepal_length  sepal_width  petal_length
0             5.1          3.5           1.4
1             4.9          3.0           1.4
2             4.7          3.2           1.3
3             4.6          3.1           1.5
4             5.0          3.6           1.4
..            ...          ...           ...
145           6.7          3.0           5.2
146           6.3          2.5           5.0
147           6.5          3.0           5.2
148           6.2          3.4           5.4
149           5.9          3.0           5.1

[150 rows x 3 columns]

## ACCESO A FILAS

Miremos el df_iris

In [81]:
df_Iris.head()

   sepal_length  sepal_width  petal_length  petal_width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Observemos los números de la izquierda, si bien están encolumnados, no son una columna de datos, sino que son los índices de las filas.  
Puede pensar en ellos como si fueran los nombres de las filas, asi como antes teníamos los nombres de las columnas. 

Por defecto, Pandas, indexa con números enteros no negativos, pero si fuera necesario, se podría cambiar.  

Un caso típico donde se cambian los índices por defecto por otros es en el caso de las **Series de Tiempo**, donde se suele tomar como índice las Fechas en las cuales se midieron los datos de la serie.

Veamos la primer fila, es decir la de índice 0 usando loc

In [90]:
df_Iris.loc[[0]]

   sepal_length  sepal_width  petal_length  petal_width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa

Muestre la centésima fila:

In [91]:
df_Iris.loc[[100]]

     sepal_length  sepal_width  petal_length  petal_width            iris
100           6.3          3.3           6.0          2.5  Iris-virginica

Muestre la última fila con loc, considerando que su código debe funcionar cualquiera sea la cantidad de filas que tenga el DataFrame.

In [139]:
# Escriba aquí su código
df_Iris.loc[[1],:]

   sepal_length  sepal_width  petal_length  petal_width         iris
1           4.9          3.0           1.4          0.2  Iris-setosa

Ahora también muestre la última fila, pero esta vez use tail

In [140]:
df_Iris.tail(1)

     sepal_length  sepal_width  petal_length  petal_width            iris
149           5.9          3.0           5.1          1.8  Iris-virginica

... más cómodo, no?

Habrá notado que los resultados se muestran de distinta manera, es porque ambos son distintos tipos de objetos.  

Utilice **type( )** para que Python le indique  qué es cada uno de ellos.

Primero con .loc

In [143]:
# Escriba aquí su código

Podemos ver que es una Serie

Ahora con tail

In [36]:
# Escriba aquí su código

pandas.core.frame.DataFrame

Es un DataFrame.

También podemos acceder con iloc a varias filas, de forma similar a como lo hacíamos con las columnas.  

Obtenga las filas de índice 10, 50 y 100

In [8]:
# Escriba aquí su código

En este caso como los índices son los números, no habría diferencia entre usar .iloc o .loc.

## EJERCICIO 1

Cargue el archivo datos_meses.xlsx en el DataFrame df_meses, que corresponde a las hipotéticas facturaciones de una empresa.
Luego vea todo el dataframe.

In [9]:
#EScriba aquí su código
df_meses= pd.read_excel("datos/Datos_meses.xlsx", )
df_meses

,Mes,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Enero,100,120,135,125,245,275,170,220,100,280,150
1,Febrero,120,125,150,180,200,220,150,200,120,280,120
2,Marzo,135,180,180,125,170,200,120,150,25,275,105
3,Abril,150,125,250,280,150,150,105,100,120,220,100
4,Mayo,180,280,245,280,120,135,100,250,280,200,120
5,Junio,250,280,200,275,105,120,120,150,25,150,25
6,Julio,245,275,170,220,100,150,125,250,280,100,120
7,Agosto,200,220,150,200,120,180,280,245,280,120,125
8,Septiembre,170,200,120,150,25,250,280,150,150,135,180
9,Octubre,150,150,105,100,120,135,125,245,100,150,125
10,Noviembre,120,135,100,250,280,200,275,105,250,180,280
11,Diciembre,105,120,120,150,25,250,280,150,150,250,280

En este caso estaría espectacular indexar las filas con los nombres de los meses ...

## Crear un Índice para las filas

In [10]:
df_meses.set_index('Mes')

            2010  2011  2012  2013  2014  2015  2016  2017  2018  2019  2020
Mes
Enero        100   120   135   125   245   275   170   220   100   280   150
Febrero      120   125   150   180   200   220   150   200   120   280   120
Marzo        135   180   180   125   170   200   120   150    25   275   105
Abril        150   125   250   280   150   150   105   100   120   220   100
Mayo         180   280   245   280   120   135   100   250   280   200   120
Junio        250   280   200   275   105   120   120   150    25   150    25
Julio        245   275   170   220   100   150   125   250   280   100   120
Agosto       200   220   150   200   120   180   280   245   280   120   125
Septiembre   170   200   120   150    25   250   280   150   150   135   180
Octubre      150   150   105   100   120   135   125   245   100   150   125
Noviembre    120   135   100   250   280   200   275   105   250   180   280
Diciembre    105   120   120   150    25   250   280   150   150   250   280

Fíjese que ha creado el índice con los meses, y que ya no lo presenta como una columna, observe que la palabra mes está más abajo.

Sin embargo, fíjese qué pasa al mostrar el dataframe

In [27]:
df_meses

,Mes,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Enero,100,120,135,125,245,275,170,220,100,280,150
1,Febrero,120,125,150,180,200,220,150,200,120,280,120
2,Marzo,135,180,180,125,170,200,120,150,25,275,105
3,Abril,150,125,250,280,150,150,105,100,120,220,100
4,Mayo,180,280,245,280,120,135,100,250,280,200,120
5,Junio,250,280,200,275,105,120,120,150,25,150,25
6,Julio,245,275,170,220,100,150,125,250,280,100,120
7,Agosto,200,220,150,200,120,180,280,245,280,120,125
8,Septiembre,170,200,120,150,25,250,280,150,150,135,180
9,Octubre,150,150,105,100,120,135,125,245,100,150,125
10,Noviembre,120,135,100,250,280,200,275,105,250,180,280
11,Diciembre,105,120,120,150,25,250,280,150,150,250,280

Vuelve a mostrar a Mes como una simple columna.  
Esto es así porque debemos asignar el índice al dataframe:

In [11]:
df_meses= df_meses.set_index('Mes')

In [12]:
df_meses

            2010  2011  2012  2013  2014  2015  2016  2017  2018  2019  2020
Mes
Enero        100   120   135   125   245   275   170   220   100   280   150
Febrero      120   125   150   180   200   220   150   200   120   280   120
Marzo        135   180   180   125   170   200   120   150    25   275   105
Abril        150   125   250   280   150   150   105   100   120   220   100
Mayo         180   280   245   280   120   135   100   250   280   200   120
Junio        250   280   200   275   105   120   120   150    25   150    25
Julio        245   275   170   220   100   150   125   250   280   100   120
Agosto       200   220   150   200   120   180   280   245   280   120   125
Septiembre   170   200   120   150    25   250   280   150   150   135   180
Octubre      150   150   105   100   120   135   125   245   100   150   125
Noviembre    120   135   100   250   280   200   275   105   250   180   280
Diciembre    105   120   120   150    25   250   280   150   150   250   280

Ahora sí, tenemos un índice aplicado a nuestro dataframe, y podemos usarlo.

Muestre la factuaración del mes de Enero de todos los años con la nomenclatura .loc

In [14]:
df_meses.loc[["Marzo"]]

       2010  2011  2012  2013  2014  2015  2016  2017  2018  2019  2020
Mes
Marzo   135   180   180   125   170   200   120   150    25   275   105

In [45]:
# Ejemplo
df_meses.loc[["Marzo", "Abril", "Octubre"]]

         2010  2011  2012  2013  2014  2015  2016  2017  2018  2019  2020
Mes
Marzo     135   180   180   125   170   200   120   150    25   275   105
Abril     150   125   250   280   150   150   105   100   120   220   100
Octubre   150   150   105   100   120   135   125   245   100   150   125

Ahora muestre la facturación de Agosto de 2011 (el 2011 posiblemente sea sin comillas)

In [15]:
# Escriba aquí su código
df_meses.loc["Agosto",2011]

220

Facturaciones de Agosto a Octubre de 2010

In [20]:
df_meses.loc["Agosto":"Octubre",[2010]]

            2010
Mes
Agosto       200
Septiembre   170
Octubre      150

In [63]:
df_meses.loc["Agosto":"Octubre",:]

            2010  2011  2012  2013  2014  2015  2016  2017  2018  2019  2020
Mes
Agosto       200   220   150   200   120   180   280   245   280   120   125
Septiembre   170   200   120   150    25   250   280   150   150   135   180
Octubre      150   150   105   100   120   135   125   245   100   150   125

In [65]:
df_meses.loc["Agosto":"Octubre",]

            2010  2011  2012  2013  2014  2015  2016  2017  2018  2019  2020
Mes
Agosto       200   220   150   200   120   180   280   245   280   120   125
Septiembre   170   200   120   150    25   250   280   150   150   135   180
Octubre      150   150   105   100   120   135   125   245   100   150   125

In [54]:
df_meses.loc["Agosto":"Octubre",[2010,2011,2015]]

            2010  2011  2015
Mes
Agosto       200   220   180
Septiembre   170   200   250
Octubre      150   150   135

In [67]:
# Todas las filas y algunas columnas
df_meses.loc[:,[2010,2011,2012,2015]]

            2010  2011  2012  2015
Mes
Enero        100   120   135   275
Febrero      120   125   150   220
Marzo        135   180   180   200
Abril        150   125   250   150
Mayo         180   280   245   135
Junio        250   280   200   120
Julio        245   275   170   150
Agosto       200   220   150   180
Septiembre   170   200   120   250
Octubre      150   150   105   135
Noviembre    120   135   100   200
Diciembre    105   120   120   250

Facturaciones de Enero a Septiembre de los años 2010 a 2015. 

Nota: posiblemente deba cargar los años con un **range**

In [62]:
df_meses.loc["Enero":"Septiembre",range(2010,2016)]

            2010  2011  2012  2013  2014  2015
Mes
Enero        100   120   135   125   245   275
Febrero      120   125   150   180   200   220
Marzo        135   180   180   125   170   200
Abril        150   125   250   280   150   150
Mayo         180   280   245   280   120   135
Junio        250   280   200   275   105   120
Julio        245   275   170   220   100   150
Agosto       200   220   150   200   120   180
Septiembre   170   200   120   150    25   250

In [24]:
# Todas las columnas
df_meses.loc["Enero":"Septiembre",:]

            2010  2011  2012  2013  2014  2015  2016  2017  2018  2019  2020
Mes
Enero        100   120   135   125   245   275   170   220   100   280   150
Febrero      120   125   150   180   200   220   150   200   120   280   120
Marzo        135   180   180   125   170   200   120   150    25   275   105
Abril        150   125   250   280   150   150   105   100   120   220   100
Mayo         180   280   245   280   120   135   100   250   280   200   120
Junio        250   280   200   275   105   120   120   150    25   150    25
Julio        245   275   170   220   100   150   125   250   280   100   120
Agosto       200   220   150   200   120   180   280   245   280   120   125
Septiembre   170   200   120   150    25   250   280   150   150   135   180

In [25]:
# Todas las filas
df_meses.loc[:,range(2010,2016)]

            2010  2011  2012  2013  2014  2015
Mes
Enero        100   120   135   125   245   275
Febrero      120   125   150   180   200   220
Marzo        135   180   180   125   170   200
Abril        150   125   250   280   150   150
Mayo         180   280   245   280   120   135
Junio        250   280   200   275   105   120
Julio        245   275   170   220   100   150
Agosto       200   220   150   200   120   180
Septiembre   170   200   120   150    25   250
Octubre      150   150   105   100   120   135
Noviembre    120   135   100   250   280   200
Diciembre    105   120   120   150    25   250

Como puede ver usando correctamente los índices es posible conseguir un código muy legible.

### Ejercicio 2

Cargue el dataset data/breast_cancer.csv, llame *df_breast_cancer* al DataFrame.

In [38]:
# Escriba aquí su código para cargar los datos, 
# cuidado el separador es la línea vertical ...'|' (parece inclinada pero es porque el texto comentado está 
# inclindo, la barra inclinada sería asíp /!!!! Deberá usar sep='|')
df_breast_cancer= pd.read_csv("datos/breast-cancer.csv", sep="|")
df_breast_cancer

,recurrence,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,no-recurrence-events,30-39,premeno,30-34,0-2,no,3,left,left_low,no
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,right_up,no
2,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,left,left_low,no
3,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,right,left_up,no
4,no-recurrence-events,40-49,premeno,0-4,0-2,no,2,right,right_low,no
...,...,...,...,...,...,...,...,...,...,...
281,recurrence-events,30-39,premeno,30-34,0-2,no,2,left,left_up,no
282,recurrence-events,30-39,premeno,20-24,0-2,no,3,left,left_up,yes
283,recurrence-events,60-69,ge40,20-24,0-2,no,1,right,left_up,no
284,recurrence-events,40-49,ge40,30-34,3-5,no,3,left,left_low,no
285,recurrence-events,50-59,ge40,30-34,3-5,no,3,left,left_low,no

In [4]:
# Muestre los primeros 7 registros
df_breast_cancer.head(7)

,recurrence,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,no-recurrence-events,30-39,premeno,30-34,0-2,no,3,left,left_low,no
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,right_up,no
2,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,left,left_low,no
3,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,right,left_up,no
4,no-recurrence-events,40-49,premeno,0-4,0-2,no,2,right,right_low,no
5,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,left,left_low,no
6,no-recurrence-events,50-59,premeno,25-29,0-2,no,2,left,left_low,no

Veamos un poco de info() acerca del dataFrame

In [10]:
# Escriba aquí su código
df_breast_cancer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   recurrence   286 non-null    object
 1   age          286 non-null    object
 2   menopause    286 non-null    object
 3   tumor-size   286 non-null    object
 4   inv-nodes    286 non-null    object
 5   node-caps    286 non-null    object
 6   deg-malig    286 non-null    int64
 7   breast       286 non-null    object
 8   breast-quad  286 non-null    object
 9   irradiat     286 non-null    object
dtypes: int64(1), object(9)
memory usage: 22.5+ KB

Cuántas filas tiene el dataframe?

In [72]:
df_breast_cancer.shape[0]

286

Cuánto nulos hay?

In [76]:
df_breast_cancer.isnull().sum()

recurrence     0
age            0
menopause      0
tumor-size     0
inv-nodes      0
node-caps      0
deg-malig      0
breast         0
breast-quad    0
irradiat       0
dtype: int64

Rta: no hay datos nulos

Describa el DataFrame

In [69]:
# Escriba aquí su código
df_breast_cancer.describe()

        deg-malig
count  286.000000
mean     2.048951
std      0.738217
min      1.000000
25%      2.000000
50%      2.000000
75%      3.000000
max      3.000000

Cuál es el promedio de deg-malig?

In [80]:
df_breast_cancer["deg-malig"].mean()

2.0489510489510487

Rta: 2.04

Cuál es el desvío standard?

In [81]:
df_breast_cancer["deg-malig"].std()

0.7382166403717146

Rta: 0.73

Seguramente ha observado que **describe()** sólo nos está mostrando información relevante para las columnas con valores numéricos.  
Sin embargo también puede darnos información útil para columnas cuyos valores sean del tipo string (cadena) o inclusive date (fecha).

Puede ver la documentación en: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html

Probemos: 
**.describe(include = 'all')**

In [77]:
# Escriba aquí su código
df_breast_cancer.describe(include = 'all')

,recurrence,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
count,286,286,286,286,286,286,286.000000,286,286,286
unique,2,6,3,11,7,3,NaN,2,6,2
top,no-recurrence-events,50-59,premeno,30-34,0-2,no,NaN,left,left_low,no
freq,201,96,150,60,213,222,NaN,152,110,218
mean,NaN,NaN,NaN,NaN,NaN,NaN,2.048951,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,0.738217,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,NaN

Fijemonos un poco la información que nos está brindando para las variables de tipo cadena.  

Prestemos atención a la columna **age**:  

Nos dice que:  

- hay 286 valores
- hay 6 valores únicos (es decir distintos)
- el que tiene mayor frecuencia, es decir el que ocurre mayor cantidad de veces es '50-59'
- y ocurre 96 veces.
- El resto de los valores son NaN porque como no es una columna numérica no los puede calcular.

Ahora que sabemos que hay 6 valores distintos para age, podemos estar interesados en saber cuáles son, podemos usar:  

**.unique()**

In [83]:
# Escriba aquí su código
df_breast_cancer["age"].unique()

array(['30-39', '40-49', '60-69', '50-59', '70-79', '20-29'], dtype=object)

Cuáles son los distintos valores que puede asumir la columna menopause?

In [89]:
# Escriba aquí su código
df_breast_cancer.menopause.unique()

array(['premeno', 'ge40', 'lt40'], dtype=object)

### EJERCICIO 3

Muestre los primeros 4 registros del dataframe df_iris

In [91]:
# Escriba aquí su código
df_Iris.head(4)

   sepal length  sepal width  petal length  petal width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa

Qué valores se han cargado en la columna iris?

In [36]:
# Escriba aquí su código
df_Iris.iris.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

### EJERCICIO 4

Ahora trabajemos un poco con el DataFrame df_breast_cancer.  

- Muestre los nombres de los campos o columnas

In [57]:
# Escriba aquí su código
import pandas as pd
df_Iris= pd.read_csv("datos/iris.tab", sep="\t", skipdown=(1,2))
df_Iris.columns

Index(['sepal length', 'sepal width', 'petal length', 'petal width', 'iris'], dtype='object')

- Muestre todos los valores de las filas de índice 11 y 12

In [58]:
# Escriba aquí su código
df_Iris.iloc[11:13]

    sepal length  sepal width  petal length  petal width         iris
11           4.8          3.4           1.6          0.2  Iris-setosa
12           4.8          3.0           1.4          0.1  Iris-setosa

- Muestre todos los valores de las filas de índice 1, 4 y 10

In [59]:
# Escriba aquí su código
df_Iris.iloc[[1,4,10],:]

    sepal length  sepal width  petal length  petal width         iris
1            4.9          3.0           1.4          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa

- Muestre todas las filas de índice par (es posible que primero deba determinar cuántas filas tiene el df, puede usar shape, pero deberá tener cuidado porque el dataframe tiene filas y columnas)

In [6]:
# Escriba aquí su código para obtener la cantidad de filas
df_Iris=pd.read_csv("datos/iris.tab", sep="\t")
x=df_Iris.shape[0]
x

152

In [7]:
# Escriba aquí su código para generar los índices de las filas pares, llame a la variable filas_pares
x=df_Iris.shape[0]
pares=np.arange(0,x,2)
df_Iris.iloc[pares].head(10)

   sepal length sepal width petal length petal width         iris
0             c           c            c           c            d
2           5.1         3.5          1.4         0.2  Iris-setosa
4           4.7         3.2          1.3         0.2  Iris-setosa
6           5.0         3.6          1.4         0.2  Iris-setosa
8           4.6         3.4          1.4         0.3  Iris-setosa
10          4.4         2.9          1.4         0.2  Iris-setosa
12          5.4         3.7          1.5         0.2  Iris-setosa
14          4.8         3.0          1.4         0.1  Iris-setosa
16          5.8         4.0          1.2         0.2  Iris-setosa
18          5.4         3.9          1.3         0.4  Iris-setosa

In [8]:
# Escriba aquí su código para obtener los registros correspondientes a las filas con índice par, muestre sólo los últimos 3
x=df_Iris.shape[0]
pares=np.arange(0,x,2)
df_Iris.iloc[pares].tail(3)

    sepal length sepal width petal length petal width            iris
146          6.7         3.3          5.7         2.5  Iris-virginica
148          6.3         2.5          5.0         1.9  Iris-virginica
150          6.2         3.4          5.4         2.3  Iris-virginica

In [70]:
i=np.arange(0,4,2)
df_Iris.iloc[:,i].head(10)

   sepal length  petal length
0           5.1           1.4
1           4.9           1.4
2           4.7           1.3
3           4.6           1.5
4           5.0           1.4
5           5.4           1.7
6           4.6           1.4
7           5.0           1.5
8           4.4           1.4
9           4.9           1.5