<h1>Tabla de Contenidos<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#OPERACIONES-CON-COLUMNAS-O-FILAS" data-toc-modified-id="OPERACIONES-CON-COLUMNAS-O-FILAS-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>OPERACIONES CON COLUMNAS O FILAS</a></span><ul class="toc-item"><li><span><a href="#Multiplicar-una-columna-por-un-número" data-toc-modified-id="Multiplicar-una-columna-por-un-número-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Multiplicar una columna por un número</a></span></li><li><span><a href="#Suma-o-resta-de-columnas" data-toc-modified-id="Suma-o-resta-de-columnas-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Suma o resta de columnas</a></span></li><li><span><a href="#Multiplicación-y-División-de-columnas" data-toc-modified-id="Multiplicación-y-División-de-columnas-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Multiplicación y División de columnas</a></span></li><li><span><a href="#Potencia-pow(elemento,-potencia)" data-toc-modified-id="Potencia-pow(elemento,-potencia)-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Potencia pow(elemento, potencia)</a></span></li><li><span><a href="#Exponencial" data-toc-modified-id="Exponencial-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Exponencial</a></span></li></ul></li><li><span><a href="#Eliminar-columnas-con-drop" data-toc-modified-id="Eliminar-columnas-con-drop-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Eliminar columnas con drop</a></span></li><li><span><a href="#Filtros-en-Pandas" data-toc-modified-id="Filtros-en-Pandas-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Filtros en Pandas</a></span></li><li><span><a href="#FORMAS-DE-ORDENAR" data-toc-modified-id="FORMAS-DE-ORDENAR-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>FORMAS DE ORDENAR</a></span><ul class="toc-item"><li><span><a href="#Ordenando-las-filas-por-los-valores-de-una-columna" data-toc-modified-id="Ordenando-las-filas-por-los-valores-de-una-columna-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Ordenando las filas por los valores de una columna</a></span></li><li><span><a href="#Ordenando-las-filas-por-los-valores-de-varias-columnas:" data-toc-modified-id="Ordenando-las-filas-por-los-valores-de-varias-columnas:-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Ordenando las filas por los valores de varias columnas:</a></span></li></ul></li></ul></div>

# COMPUTACIÓN CIENTÍFICA
# Situación Profesional 2
# Clase 3: Pandas
**Prof. Ricardo Piña - Erica Bongiovanni**

In [5]:
import numpy as np
import pandas as pd

# operaciones con columnas o filas

Carguemos el archivo csv iris.tab en un dataframe de nombre df_iris

In [6]:
df_iris=pd.read_csv("datos/iris.tab",sep='\t',skiprows=(1,2))
df_iris.head()

   sepal length  sepal width  petal length  petal width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Cambie los nombres para que no tengan espacios ...

In [7]:
# Escriba aquí su código
df_iris.columns=["sepal_length","sepal_width", "petal_length", "petal_width","iris"]
df_iris.head()

   sepal_length  sepal_width  petal_length  petal_width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

### Multiplicar una columna por un número

Supongamos que necesitamos multiplicar por 2 la columna sepal_length, entonces simplemente hacemos:  
columna * 2

In [8]:
df_iris.sepal_width*2

0      7.0
1      6.0
2      6.4
3      6.2
4      7.2
      ...
145    6.0
146    5.0
147    6.0
148    6.8
149    6.0
Name: sepal_width, Length: 150, dtype: float64

Compare con la impresión del dataframe que hicimos antes y podrá verificar que los valores de la columna efectivamente han sido multiplicados por 2, **aunque estos cambios no sea han efectuado en el dataframe**, fijese:

In [9]:
df_iris.head()

   sepal_length  sepal_width  petal_length  petal_width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Si quisiéramos que se cambiara la columna, deberíamos asignarle el resultado obtenido. En este caso no deseamos hacerlo.

### Suma o resta de columnas

**columna + columna**  
**columna - columna**

Supongamos que necesitamos restar sepal_length - petal_length, simplemente podemos hacer lo siguiente:

In [10]:
df_iris.sepal_length - df_iris.petal_length

0      3.7
1      3.5
2      3.4
3      3.1
4      3.6
      ...
145    1.5
146    1.3
147    1.3
148    0.8
149    0.8
Length: 150, dtype: float64

De la misma manera que indicábamos con anterioridad, este resultado no se encuentra en el dataframe.   
Esta vez sí supongamos que deseamos **agregarlo** como una columna más del dataframe con el nombre de 'sl-pl'.

In [11]:
df_iris["sl-pl"]= df_iris.sepal_length - df_iris.petal_length
df_iris.head()

   sepal_length  sepal_width  petal_length  petal_width         iris  sl-pl
0           5.1          3.5           1.4          0.2  Iris-setosa    3.7
1           4.9          3.0           1.4          0.2  Iris-setosa    3.5
2           4.7          3.2           1.3          0.2  Iris-setosa    3.4
3           4.6          3.1           1.5          0.2  Iris-setosa    3.1
4           5.0          3.6           1.4          0.2  Iris-setosa    3.6

### Multiplicación y División de columnas

**columna * columna**
**columna/columna**

En un caso como el del reconocimiento de la flor Iris por Machine Learning, seguramente sería de interés tener en una feature o variable con una aproximación a la superficie de los pétalos.  

Agregue esta columna con el nombre 'sup-pet'

In [12]:
# Escriba aquí su código
df_iris["sup-pet"]= df_iris.petal_length * df_iris.petal_width
df_iris.head()

,sepal_length,sepal_width,petal_length,petal_width,iris,sl-pl,sup-pet
0,5.1,3.5,1.4,0.2,Iris-setosa,3.7,0.28
1,4.9,3.0,1.4,0.2,Iris-setosa,3.5,0.28
2,4.7,3.2,1.3,0.2,Iris-setosa,3.4,0.26
3,4.6,3.1,1.5,0.2,Iris-setosa,3.1,0.30
4,5.0,3.6,1.4,0.2,Iris-setosa,3.6,0.28

Podríamos hacer lo mismo para los sépalos .. guárdelo en la columna 'sup-sep'

In [13]:
# Escriba aquí su código
df_iris["sup-sep"]= df_iris.sepal_length * df_iris.sepal_width
df_iris.head()

,sepal_length,sepal_width,petal_length,petal_width,iris,sl-pl,sup-pet,sup-sep
0,5.1,3.5,1.4,0.2,Iris-setosa,3.7,0.28,17.85
1,4.9,3.0,1.4,0.2,Iris-setosa,3.5,0.28,14.70
2,4.7,3.2,1.3,0.2,Iris-setosa,3.4,0.26,15.04
3,4.6,3.1,1.5,0.2,Iris-setosa,3.1,0.30,14.26
4,5.0,3.6,1.4,0.2,Iris-setosa,3.6,0.28,18.00

Seguro que un problema de identificación de flores de las cuales conocemos las medidas, las relaciones entre las medidas también sería importantes, así que creemos una nueva variable llamada 'pet_l/pet_w' cuyos valores sean  la división de petal_length sobre petal_width.

In [14]:
# Escriba aquí su código
df_iris["pet_l/pet_w"]= df_iris.petal_length / df_iris.petal_width
df_iris.head()

,sepal_length,sepal_width,petal_length,petal_width,iris,sl-pl,sup-pet,sup-sep,pet_l/pet_w
0,5.1,3.5,1.4,0.2,Iris-setosa,3.7,0.28,17.85,7.0
1,4.9,3.0,1.4,0.2,Iris-setosa,3.5,0.28,14.70,7.0
2,4.7,3.2,1.3,0.2,Iris-setosa,3.4,0.26,15.04,6.5
3,4.6,3.1,1.5,0.2,Iris-setosa,3.1,0.30,14.26,7.5
4,5.0,3.6,1.4,0.2,Iris-setosa,3.6,0.28,18.00,7.0

### Potencia pow(elemento, potencia)
También podríamos elevar al cuadrado, al cubo o a la n los valores de alguna columna ...

Eleve al cuadrado los valores de petal_length, no los agregue al dataframe.

In [15]:
pow(df_iris.petal_length,2)

0       1.96
1       1.96
2       1.69
3       2.25
4       1.96
       ...
145    27.04
146    25.00
147    27.04
148    29.16
149    26.01
Name: petal_length, Length: 150, dtype: float64

In [16]:
df_iris.petal_length**2

0       1.96
1       1.96
2       1.69
3       2.25
4       1.96
       ...
145    27.04
146    25.00
147    27.04
148    29.16
149    26.01
Name: petal_length, Length: 150, dtype: float64

Las raíces también pueden calcularse como potencia.

### Exponencial 
$$ e^c $$

Daría por resultado cada elemento de la columna como exponente de e.

In [17]:
np.exp(df_iris.petal_length)

0        4.055200
1        4.055200
2        3.669297
3        4.481689
4        4.055200
          ...
145    181.272242
146    148.413159
147    181.272242
148    221.406416
149    164.021907
Name: petal_length, Length: 150, dtype: float64

In [18]:
df_iris["exponencial"]= np.exp(df_iris.petal_length)
df_iris.head()

,sepal_length,sepal_width,petal_length,petal_width,iris,sl-pl,sup-pet,sup-sep,pet_l/pet_w,exponencial
0,5.1,3.5,1.4,0.2,Iris-setosa,3.7,0.28,17.85,7.0,4.055200
1,4.9,3.0,1.4,0.2,Iris-setosa,3.5,0.28,14.70,7.0,4.055200
2,4.7,3.2,1.3,0.2,Iris-setosa,3.4,0.26,15.04,6.5,3.669297
3,4.6,3.1,1.5,0.2,Iris-setosa,3.1,0.30,14.26,7.5,4.481689
4,5.0,3.6,1.4,0.2,Iris-setosa,3.6,0.28,18.00,7.0,4.055200

## Eliminar columnas con drop

Supongamos que queremos eliminar la columna sl-pl que creamos hacer un rato, podemos usar .drop:

documentación en: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html

In [19]:
df_iris=df_iris.drop("sl-pl", axis=1)

# también se podría haber usado:
# df_iris.drop(columns=['sl-pl'])  y evitamos recordar el axis!

In [20]:
df_iris=df_iris.drop(columns="exponencial")

In [21]:
df_iris=df_iris.drop(columns="pet_l/pet_w")

In [24]:
df_iris=df_iris.drop(columns="sup-sep")

In [25]:
df_iris=df_iris.drop(columns="sup-pet")

In [26]:
df_iris

     sepal_length  sepal_width  petal_length  petal_width            iris
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

## Filtros en Pandas

Los filtros de tipo **.filter** en Pandas **NO** se usan para filtrar por el valor de los ítems (las celdas de Excel), sino que se utilizan para **filtrar por los valores o etiquetas de los índices de las columnas o de las filas**. No los veremos por el momento. 

Documentación: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.filter.html

Nuestro interés está en el proceso de **filtrado por valores de los items** y en este sentido es muy similar al funcionamiento de NumPy.  

En la jerga de Pandas en vez de filtrado se suele denominar como  

*__obtención de subconjuntos de filas que, por ejemplo, verifican cierto criterio__*.

Recordemos qué tenemos en nuestro dataframe:

In [27]:
df_iris

     sepal_length  sepal_width  petal_length  petal_width            iris
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

Supongamos que deseamos ver todas las filas para las cuales el valor de sepal_length sea menor que 5.  
El procedimiento será muy similar al del NumPy.

In [28]:
df_iris[df_iris.sepal_length==5]

    sepal_length  sepal_width  petal_length  petal_width             iris
4            5.0          3.6           1.4          0.2      Iris-setosa
7            5.0          3.4           1.5          0.2      Iris-setosa
25           5.0          3.0           1.6          0.2      Iris-setosa
26           5.0          3.4           1.6          0.4      Iris-setosa
35           5.0          3.2           1.2          0.2      Iris-setosa
40           5.0          3.5           1.3          0.3      Iris-setosa
43           5.0          3.5           1.6          0.6      Iris-setosa
49           5.0          3.3           1.4          0.2      Iris-setosa
60           5.0          2.0           3.5          1.0  Iris-versicolor
93           5.0          2.3           3.3          1.0  Iris-versicolor

Obtengamos las filas para las cuales el valor de sepal_length sea mayor que el doble del sepal_width

In [29]:
#Escriba aqui su código
df_iris[df_iris.sepal_length > df_iris.sepal_width]

     sepal_length  sepal_width  petal_length  petal_width            iris
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [30]:
df_iris[df_iris.sepal_length > df_iris.sepal_width*2]

     sepal_length  sepal_width  petal_length  petal_width             iris
50            7.0          3.2           4.7          1.4  Iris-versicolor
52            6.9          3.1           4.9          1.5  Iris-versicolor
53            5.5          2.3           4.0          1.3  Iris-versicolor
54            6.5          2.8           4.6          1.5  Iris-versicolor
55            5.7          2.8           4.5          1.3  Iris-versicolor
..            ...          ...           ...          ...              ...
143           6.8          3.2           5.9          2.3   Iris-virginica
144           6.7          3.3           5.7          2.5   Iris-virginica
145           6.7          3.0           5.2          2.3   Iris-virginica
146           6.3          2.5           5.0          1.9   Iris-virginica
147           6.5          3.0           5.2          2.0   Iris-virginica

[79 rows x 5 columns]

Lo mismo que antes pero muestre sólo esas dos columnas y la columna iris

In [86]:
# Escriba aqui su código
df_iris[df_iris.sepal_length > df_iris.sepal_width*2][["sepal_length","sepal_width","iris"]]

     sepal_length  sepal_width             iris
50            7.0          3.2  Iris-versicolor
52            6.9          3.1  Iris-versicolor
53            5.5          2.3  Iris-versicolor
54            6.5          2.8  Iris-versicolor
55            5.7          2.8  Iris-versicolor
..            ...          ...              ...
143           6.8          3.2   Iris-virginica
144           6.7          3.3   Iris-virginica
145           6.7          3.0   Iris-virginica
146           6.3          2.5   Iris-virginica
147           6.5          3.0   Iris-virginica

[79 rows x 3 columns]

Muestre qué valores **distintos** se han cargado en la columna iris.

In [31]:
#Escriba aquí su código
df_iris.iris.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

Cuando tenemos valores de cadena de texto suele ser útil el uso de:  

**columna.str.contains('cadena_de_caracteres')**   

Queremos todas las filas para las cuales en el texto cargado en la columna iris contiene v.

In [32]:
# Escriba aquí su código
df_iris[df_iris.iris.str.contains("v")]

     sepal_length  sepal_width  petal_length  petal_width             iris
50            7.0          3.2           4.7          1.4  Iris-versicolor
51            6.4          3.2           4.5          1.5  Iris-versicolor
52            6.9          3.1           4.9          1.5  Iris-versicolor
53            5.5          2.3           4.0          1.3  Iris-versicolor
54            6.5          2.8           4.6          1.5  Iris-versicolor
..            ...          ...           ...          ...              ...
145           6.7          3.0           5.2          2.3   Iris-virginica
146           6.3          2.5           5.0          1.9   Iris-virginica
147           6.5          3.0           5.2          2.0   Iris-virginica
148           6.2          3.4           5.4          2.3   Iris-virginica
149           5.9          3.0           5.1          1.8   Iris-virginica

[100 rows x 5 columns]

Queremos todas las filas para las cuales en el texto cargado en la columna iris contiene v y contiene la cadena 'color'

In [33]:
df_iris[(df_iris.iris.str.contains('virginica')) & (df_iris.iris.str.contains('color'))]  # con and nos dio error

Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, iris]
Index: []

Queremos todas las filas para las cuales en el texto cargado en la columna iris contiene v o  contiene la cadena 'color'.

In [34]:
df_iris[(df_iris.iris.str.contains('virginica')) | (df_iris.iris.str.contains('color'))]  # con and nos dio error

     sepal_length  sepal_width  petal_length  petal_width             iris
50            7.0          3.2           4.7          1.4  Iris-versicolor
51            6.4          3.2           4.5          1.5  Iris-versicolor
52            6.9          3.1           4.9          1.5  Iris-versicolor
53            5.5          2.3           4.0          1.3  Iris-versicolor
54            6.5          2.8           4.6          1.5  Iris-versicolor
..            ...          ...           ...          ...              ...
145           6.7          3.0           5.2          2.3   Iris-virginica
146           6.3          2.5           5.0          1.9   Iris-virginica
147           6.5          3.0           5.2          2.0   Iris-virginica
148           6.2          3.4           5.4          2.3   Iris-virginica
149           5.9          3.0           5.1          1.8   Iris-virginica

[100 rows x 5 columns]

Obviamente que   
**columna.str.contains('cadena_de_caracteres')**  

puede usarse con más de una caracter. En este caso buscará la cadena en cualquier parte del texto que figure en cada una de las celdas de esa columna. 

Si necesitamos una expresión más exacta, podemos usar **regex**, que tiene sus complicaciones, pero por ahora no entraremos en esos detalles.

Queremos todas las filas en las cuales el valor de iris contenga la cadena 'color'. Muestre sólo los últimos 4 registros

In [35]:
# Escriba aquí su código
import pandas as pd
df_iris=pd.read_csv("datos/iris.tab",sep='\t',skiprows=(1,2))
df_iris.columns=["sepal_length","sepal_width", "petal_length", "petal_width","iris"]
df_iris[df_iris.iris.str.contains("color")].tail(4)

    sepal_length  sepal_width  petal_length  petal_width             iris
96           5.7          2.9           4.2          1.3  Iris-versicolor
97           6.2          2.9           4.3          1.3  Iris-versicolor
98           5.1          2.5           3.0          1.1  Iris-versicolor
99           5.7          2.8           4.1          1.3  Iris-versicolor

Queremos todas las filas cuyo texto en la columna iris no contenga la cadena *color*. Muestre las últimas 3 filsa.  

**Nota:** no existe el método "notcontains", asi que podría usar la idea de  negar el resultado de contains. Puede hacerlo de dos maneras usando **~** que es el operador para __negación__, o bien imponiendo en la condición que el resultado de contains()==False.

In [36]:
# forma 1
import pandas as pd
df_iris=pd.read_csv("datos/iris.tab",sep='\t',skiprows=(1,2))
df_iris.columns=["sepal_length","sepal_width", "petal_length", "petal_width","iris"]
df_iris[df_iris.iris.str.contains("color")==False].tail(4)

     sepal_length  sepal_width  petal_length  petal_width            iris
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [37]:
# forma 2
import pandas as pd
df_iris=pd.read_csv("datos/iris.tab",sep='\t',skiprows=(1,2))
df_iris.columns=["sepal_length","sepal_width", "petal_length", "petal_width","iris"]
df_iris[~df_iris.iris.str.contains("color")].tail(4)

     sepal_length  sepal_width  petal_length  petal_width            iris
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

Queremos todas las filas para las cuales sepal_length es mayor a 4, petal_lenght menor a 3 y el texto cargado en iris no contiene la cadena color. Muestre las primeras 6 filas.   


Nota: use & para la operación lógica y en vez de and, suele ser necesario separar las pruebas lógicas escribiéndolas entre paréntesis.

In [38]:
# Escriba aquí su código
import pandas as pd
df_iris=pd.read_csv("datos/iris.tab",sep='\t',skiprows=(1,2))
df_iris.columns=["sepal_length","sepal_width", "petal_length", "petal_width","iris"]
df_iris[(df_iris.sepal_length>4)&(df_iris.petal_length<3)&(~df_iris.iris.str.contains("color"))].head(6)

   sepal_length  sepal_width  petal_length  petal_width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa

En la primer clase de Pandas vimos cómo calcular la media de los valores de una columna.

En qué observaciones el valor de sepal_length está por sobre la media? Muestre las 5 primeras filas.

In [39]:
# Escriba aquí su código
import pandas as pd
df_iris=pd.read_csv("datos/iris.tab",sep='\t',skiprows=(1,2))
df_iris.columns=["sepal_length","sepal_width", "petal_length", "petal_width","iris"]
df_iris[df_iris.sepal_length>df_iris.sepal_length.mean()].head()

    sepal_length  sepal_width  petal_length  petal_width             iris
50           7.0          3.2           4.7          1.4  Iris-versicolor
51           6.4          3.2           4.5          1.5  Iris-versicolor
52           6.9          3.1           4.9          1.5  Iris-versicolor
54           6.5          2.8           4.6          1.5  Iris-versicolor
56           6.3          3.3           4.7          1.6  Iris-versicolor

In [40]:
# Escriba aquí su código
import pandas as pd
df_iris=pd.read_csv("datos/iris.tab",sep='\t',skiprows=(1,2))
df_iris.columns=['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Iris']
promedio = df_iris.SepalLength.mean()
#promedio
df_iris[df_iris.SepalLength > promedio].head()

    SepalLength  SepalWidth  PetalLength  PetalWidth             Iris
50          7.0         3.2          4.7         1.4  Iris-versicolor
51          6.4         3.2          4.5         1.5  Iris-versicolor
52          6.9         3.1          4.9         1.5  Iris-versicolor
54          6.5         2.8          4.6         1.5  Iris-versicolor
56          6.3         3.3          4.7         1.6  Iris-versicolor

Ahora queremos ver todas las filas para las cuales el valor de sepal_length está por sobre la media y los valores de sepal_width están por debajo de la media.

In [41]:
# Escriba aquí su código
import pandas as pd
df=pd.read_csv("datos/iris.tab",sep='\t',skiprows=(1,2))
df.columns=['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Iris']
promedio1 = df.SepalLength.mean()
promedio2 = df.SepalWidth.mean()
df[(df.SepalLength > promedio1) & (df.SepalWidth < promedio2)].head(6)

    SepalLength  SepalWidth  PetalLength  PetalWidth             Iris
54          6.5         2.8          4.6         1.5  Iris-versicolor
58          6.6         2.9          4.6         1.3  Iris-versicolor
61          5.9         3.0          4.2         1.5  Iris-versicolor
62          6.0         2.2          4.0         1.0  Iris-versicolor
63          6.1         2.9          4.7         1.4  Iris-versicolor
68          6.2         2.2          4.5         1.5  Iris-versicolor

Ahora queremos las filas en las cuales la media de sepal_length **o** la media de sepal_width están por sobre sus respectivas medias.

In [45]:
# Escriba aquí su código
df_iris[(df_iris.SepalLength>df.SepalLength.mean())|(df_iris.SepalWidth>df.SepalWidth.mean())].tail()

     SepalLength  SepalWidth  PetalLength  PetalWidth            Iris
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

In [46]:
# Escriba aquí su código
import pandas as pd
df=pd.read_csv("datos/iris.tab",sep='\t',skiprows=(1,2))
df.columns=['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Iris']
df[(df.SepalLength > df.SepalLength.mean()) | (df.SepalWidth > df.SepalWidth.mean())].tail(6)

     SepalLength  SepalWidth  PetalLength  PetalWidth            Iris
144          6.7         3.3          5.7         2.5  Iris-virginica
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

## FORMAS DE ORDENAR

### Ordenando las filas por los valores de una columna

Si queremos ordenar el dataframe por los valores de una fila, podemos usar:  

**DataFrame.sort_values()** 

Documentación: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html

En este caso es interesante observar sus argumentos, véalos en la documentación indicada.

Obtengamos un duplicado de df_iris, de tal forma que sus filas estén ordenadas por las columna iris en formas ascendente, es decir de a a la z.

In [48]:
df_iris.sort_values('PetalLength').head()

    SepalLength  SepalWidth  PetalLength  PetalWidth         Iris
22          4.6         3.6          1.0         0.2  Iris-setosa
13          4.3         3.0          1.1         0.1  Iris-setosa
14          5.8         4.0          1.2         0.2  Iris-setosa
35          5.0         3.2          1.2         0.2  Iris-setosa
36          5.5         3.5          1.3         0.2  Iris-setosa

Obtengamos un duplicado de df_iris, de tal forma que sus filas estén ordenadas por las columna iris en formas descendente, es decir de la z a la a.

In [49]:
# Escriba aquí su código
df_iris.sort_values('SepalLength', ascending= False)

     SepalLength  SepalWidth  PetalLength  PetalWidth            Iris
131          7.9         3.8          6.4         2.0  Iris-virginica
135          7.7         3.0          6.1         2.3  Iris-virginica
122          7.7         2.8          6.7         2.0  Iris-virginica
117          7.7         3.8          6.7         2.2  Iris-virginica
118          7.7         2.6          6.9         2.3  Iris-virginica
..           ...         ...          ...         ...             ...
41           4.5         2.3          1.3         0.3     Iris-setosa
42           4.4         3.2          1.3         0.2     Iris-setosa
38           4.4         3.0          1.3         0.2     Iris-setosa
8            4.4         2.9          1.4         0.2     Iris-setosa
13           4.3         3.0          1.1         0.1     Iris-setosa

[150 rows x 5 columns]

In [53]:
df_iris.sort_values('SepalLength', ascending= True)

     SepalLength  SepalWidth  PetalLength  PetalWidth            Iris
13           4.3         3.0          1.1         0.1     Iris-setosa
42           4.4         3.2          1.3         0.2     Iris-setosa
38           4.4         3.0          1.3         0.2     Iris-setosa
8            4.4         2.9          1.4         0.2     Iris-setosa
41           4.5         2.3          1.3         0.3     Iris-setosa
..           ...         ...          ...         ...             ...
122          7.7         2.8          6.7         2.0  Iris-virginica
118          7.7         2.6          6.9         2.3  Iris-virginica
117          7.7         3.8          6.7         2.2  Iris-virginica
135          7.7         3.0          6.1         2.3  Iris-virginica
131          7.9         3.8          6.4         2.0  Iris-virginica

[150 rows x 5 columns]

### Ordenando las filas por los valores de varias columnas:

Cuando se ordena por los valores de varias columnas es importante tener en cuenta qué significa.  
Supongamos que tenemos un df con las columnas Apellido y Nombre y asumamos que queremos ordenarla por las columnas Apellido (primero) y (luego por ) las columna nombre.  

Esto significa que el ordenamiento principal será por Apellido y en el caso que "haya empate" en el valor del apellido, entonces desempatará con el valor de la columna Nombre.

Ordenar en forma ascentente a df_iris primero por la columna iris y luego por la columna sepal_length. Muestre los primero 6 casos. En este caso, cuando tenemos varias columnas para ordenar, debemos pasar los valores de las columnas como array.

In [54]:
df_iris.sort_values(by= ['Iris',"SepalLength"], ascending= True)

     SepalLength  SepalWidth  PetalLength  PetalWidth            Iris
13           4.3         3.0          1.1         0.1     Iris-setosa
8            4.4         2.9          1.4         0.2     Iris-setosa
38           4.4         3.0          1.3         0.2     Iris-setosa
42           4.4         3.2          1.3         0.2     Iris-setosa
41           4.5         2.3          1.3         0.3     Iris-setosa
..           ...         ...          ...         ...             ...
117          7.7         3.8          6.7         2.2  Iris-virginica
118          7.7         2.6          6.9         2.3  Iris-virginica
122          7.7         2.8          6.7         2.0  Iris-virginica
135          7.7         3.0          6.1         2.3  Iris-virginica
131          7.9         3.8          6.4         2.0  Iris-virginica

[150 rows x 5 columns]

Ahora ordene por las columnas iris, sepal_length y sepal_width, en ese orden.

In [55]:
# Escriba aquí su código
df_iris.sort_values(by= ['Iris',"SepalLength","SepalWidth"], ascending= True)

     SepalLength  SepalWidth  PetalLength  PetalWidth            Iris
13           4.3         3.0          1.1         0.1     Iris-setosa
8            4.4         2.9          1.4         0.2     Iris-setosa
38           4.4         3.0          1.3         0.2     Iris-setosa
42           4.4         3.2          1.3         0.2     Iris-setosa
41           4.5         2.3          1.3         0.3     Iris-setosa
..           ...         ...          ...         ...             ...
118          7.7         2.6          6.9         2.3  Iris-virginica
122          7.7         2.8          6.7         2.0  Iris-virginica
135          7.7         3.0          6.1         2.3  Iris-virginica
117          7.7         3.8          6.7         2.2  Iris-virginica
131          7.9         3.8          6.4         2.0  Iris-virginica

[150 rows x 5 columns]

Qué pasará si queremos ordenar por una columna en forma ascendente y por otra en forma descendente?  
Ayuda, de la misma manera que podemos pasar varias columnas en un array, también podemos hacer lo mismo para el valor del  atributo **ascending** ... 

Ordene df_iris primero por la columna iris en forma descendente y luego por la columna sepal_length en forma ascendente. Muestre las 6 primeras filas.

In [61]:
# Escriba aquí su código
df_iris.sort_values(by= ['Iris',"SepalLength"], ascending= [False,True])

     SepalLength  SepalWidth  PetalLength  PetalWidth            Iris
106          4.9         2.5          4.5         1.7  Iris-virginica
121          5.6         2.8          4.9         2.0  Iris-virginica
113          5.7         2.5          5.0         2.0  Iris-virginica
101          5.8         2.7          5.1         1.9  Iris-virginica
114          5.8         2.8          5.1         2.4  Iris-virginica
..           ...         ...          ...         ...             ...
33           5.5         4.2          1.4         0.2     Iris-setosa
36           5.5         3.5          1.3         0.2     Iris-setosa
15           5.7         4.4          1.5         0.4     Iris-setosa
18           5.7         3.8          1.7         0.3     Iris-setosa
14           5.8         4.0          1.2         0.2     Iris-setosa

[150 rows x 5 columns]