# Autoevaluación:

Vamos a resolver nuevamente el problema de Regresión de las Autoevaluaciones 1 y 2 de la SP1, pero esta vez usaremos kNN.  
Aplique **k=5**, y los mismos valores de **80/20 para Train y Test** y **123** para la generación de números aleatorios.  

- Los datos se encuentran en *data/diabetes_3variables.csv*. 

- Cree el modelo y obtenga los valores de **$R^2$, MSE y RMSE**

In [2]:
import pandas as pd

In [9]:
df = pd.read_csv(r'C:\Users\Usuario\Desktop\ies 21\3er semestre\Aprendizaje automatico 1\trabajos practicos\datos\diabetes_3variables.csv')
df

         y        x1        x2        x3
0    151.0  0.050680  0.061696  0.021872
1     75.0 -0.044642 -0.051474 -0.026328
2    141.0  0.050680  0.044451 -0.005671
3    206.0 -0.044642 -0.011595 -0.036656
4    135.0 -0.044642 -0.036385  0.021872
..     ...       ...       ...       ...
437  178.0  0.050680  0.019662  0.059744
438  104.0  0.050680 -0.015906 -0.067642
439  132.0  0.050680 -0.015906  0.017282
440  220.0 -0.044642  0.039062  0.001215
441   57.0 -0.044642 -0.073030 -0.081414

[442 rows x 4 columns]

In [11]:
x= df.drop(['y'], axis=1)
y= df.y

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=123)

In [14]:
from sklearn.neighbors import KNeighborsRegressor
KNN = KNeighborsRegressor( n_neighbors = 5 )
KNN.fit(x_train,y_train)
Y_Predict = KNN.predict(x_test)

In [16]:
from sklearn.metrics import mean_squared_error, r2_score
print("EVALUACIÓN del modelo kNN: ")
print("R2: ",round(KNN.score(x_test,y_test),3)) 
print("MSE: ",round(mean_squared_error(y_test, Y_Predict),3))
print("RMSE: ",round(mean_squared_error(y_test, Y_Predict,squared=False),3))

EVALUACIÓN del modelo kNN:
R2:  0.391
MSE:  3834.863
RMSE:  61.926

## Autoevaluación

Resolvamos el problema de Clasificación del dataset Iris disminuido a sólo dos variables que utilizamos en SP02_Clase01b , pero esta vez con **Árboles de Decisión** donde pronostiquemos la categoría iris.

In [17]:
import pandas as pd

In [20]:
df_iris=pd.read_csv(r"C:\Users\Usuario\Desktop\ies 21\3er semestre\Aprendizaje automatico 1\trabajos practicos\datos\iris.tab",sep='\t',skiprows=(1,2))
df_iris.head()

   sepal length  sepal width  petal length  petal width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [27]:
df=df_iris[['sepal length','sepal width','iris']]
df.head()

   sepal length  sepal width         iris
0           5.1          3.5  Iris-setosa
1           4.9          3.0  Iris-setosa
2           4.7          3.2  Iris-setosa
3           4.6          3.1  Iris-setosa
4           5.0          3.6  Iris-setosa

In [22]:
df.columns=['sl','sw','iris']
df.head()

    sl   sw         iris
0  5.1  3.5  Iris-setosa
1  4.9  3.0  Iris-setosa
2  4.7  3.2  Iris-setosa
3  4.6  3.1  Iris-setosa
4  5.0  3.6  Iris-setosa

In [23]:
x= df.drop(['iris'], axis=1)
y= df.iris

In [24]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2,random_state=123)

In [25]:
from sklearn.tree import DecisionTreeClassifier
modelo=DecisionTreeClassifier(max_depth=4)
modelo.fit(x_train, y_train)
y_pred = modelo.predict(x_test)

In [26]:
from sklearn.metrics import accuracy_score
AC=accuracy_score(y_test, y_pred)
AC

0.8