In [2]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.29-cp39-cp39-win_amd64.whl (7.7 MB)
Collecting protobuf>=3.0.0
  Downloading protobuf-4.21.1-cp39-cp39-win_amd64.whl (524 kB)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.29 protobuf-4.21.1
Note: you may need to restart the kernel to use updated packages.

In [7]:
import mysql.connector
import pandas as pd

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="farmacia"
)

In [3]:
mycursor = mydb.cursor()

In [4]:
SQL = ''
SQL += 'SELECT M.medicamento, M.nombre, L.nombre AS nombre_laboratorio '
SQL += 'FROM medicamentos M  '
SQL += 'INNER JOIN laboratorios L ON M.laboratorio=L.laboratorio '
SQL += 'ORDER BY M.medicamento '

In [5]:
mycursor.execute(SQL)

In [6]:
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

(1, 'JARABE PARA GRANDES', 'MOSQUITO')
(2, 'JARABAE PARA CHICOS', 'MOSQUITO')
(3, 'GENIOL PARA GRANDES', 'LANGOSTA')
(4, 'GENIOL PARA CHICOS', 'LANGOSTA')

In [8]:
df = pd.read_csv('medicamentos.csv')

In [9]:
df

   medicamento                nombre  laboratorio
0            5   HOY ES UN DIA LINDO            1
1            6     HOY ES UN DIA FEO            1
2            7  CUIDADO CON EL PERRO            2
3            8   CUIDADO CON EL GATO            2
4            9     HOY ESTUDIE MUCHO            1
5           10      HOY ESTUDIE POCO            1
6           11             HACE FRIO            2
7           12            HACE CALOR            1

In [17]:
for index, row in df.iterrows(): 
    SQL = "INSERT INTO medicamentos VALUE({}, '{}', {})".format(row['medicamento'], row['nombre'], row['laboratorio'])
    mycursor.execute(SQL)

In [18]:
mydb.commit()

In [ ]:
SQL  = ''
SQL += 'SELECT L.nombre, COUNT(M.medicamento) AS cantidad '
SQL += 'FROM laboratorios L '
SQL += 'INNER JOIN medicamentos M ON L.laboratorio=M.laboratorio '
SQL += 'GROUP BY L.nombre '
SQL += 'ORDER BY L.nombre '